/build/
/dist/
*.elf
*.bin
*.map
*.a
*.part

sdkconfig
sdkconfig.old
sdkconfig.old.*

managed_components/

.clangd/
compile_commands.json

*.log
*.tmp


.vscode/
.history/

.idea/


.DS_Store

Thumbs.db

/venv/
/.venv/
/env/
/.env/
__pycache__/
*.pyc